﻿html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  color: #DDD;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

body header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.65em;
  align-items: center;
  padding: 0.5em 0.65em;
  background: #111;
}

body header .logo {
  width: 72px;
  height: auto;
  border: 1px solid #DDD;
}

body header .blurb {
  display: grid;
  grid-auto-flow: row dense;
}

body header .blurb .main-text {
  font-size: 1.35em;
  font-weight: 600;
}

body header .blurb .sub-text {
  font-style: italic;
}

body main {
  padding: 0.5em;
}

body main h1 {
  margin: 1em 0 0.35em 0;
  font-size: 1.5em;
}

body main a {
  color: #3093ff;
}

body footer {
  padding: 0.5em 0.65em;
  font-size: 0.85em;
  background: #111;
  text-align: center;
}
