$default-bg-color: #1e1e1e;
$default-text-color: #DDD;
$header-bg-color: #111;

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: $default-bg-color;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  color: $default-text-color;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;

  header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 0.65em;
    align-items: center;
    padding: 0.5em 0.65em;
    background: $header-bg-color;

    .logo {
      width: 72px;
      height: auto;
      border: 1px solid $default-text-color;
    }

    .blurb {
      display: grid;
      grid-auto-flow: row dense;

      .main-text {
        font-size: 1.35em;
        font-weight: 600;
      }

      .sub-text {
        font-style: italic;
      }
    }
  }

  main {
    padding: 0.5em;

    h1 {
      margin: 1em 0 0.35em 0;
      font-size: 1.5em;
    }

    a {
      color: #3093ff;
    }
  }

  footer {
    padding: 0.5em 0.65em;
    font-size: 0.85em;
    background: $header-bg-color;
    text-align: center;
  }
}
